.post {
    background: white;
    padding: 1rem;
    border-radius: var(--borderRadius);
    margin: 1rem 0;
}

.post h3 {
    margin: 1rem 0;
}

.head {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 1rem;
    justify-items: end;
    align-items: baseline;
}

.head span {
    cursor: pointer;
    transition: transform .1s;
    user-select: none;
}

.head span:hover {
    transform: scale(1.2);
}

.head span:active {
    color: gray;
}

.author {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem 0;
    align-items: baseline;
}

.postId {
    font-size: .8rem;
}

.date {
    font-style: italic;
}

.text {
    line-height: 1.7;
}

