.backDrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(1,1,1, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newPost {
    position: relative;
    background-color: white;
    max-width: 640px;
    width: 100%;
    border-radius: var(--borderRadius);
    padding: 1rem;
    margin: 1rem;
    max-height: 390px;
    height: 100%;
    box-shadow: 0 0 2px 1px white;
}

.form {
    display: grid;
    grid-gap: 1rem;
}

.head {
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-items: end;
    grid-gap: 1rem;
}

.head > input {
    font-size: 1.5rem;
}

.author {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.author > label {
    grid-column: 2/2;
}

.label {
    display: grid;
    grid-gap: .5rem;
    color: red;
    position: relative;
}

.input {
    font-size: inherit;
    border: 0;
    outline: none;
    padding: .2rem 1rem;
    /*box-shadow: 0 0 1px 0 grey;*/
    /*border-radius: var(--borderRadius);*/
}

.input:focus {

}

.input::placeholder {
    color: gray;
    transition: color .1s;
}

.input:focus::placeholder {
    color: lightgray;
}

.textarea {
    resize: none;
    max-width: calc(640px - 2rem);
    height: 260px;
    /*box-shadow: 0 0 1px 0 grey;*/
    /*border-radius: var(--borderRadius);*/
    /*padding: .5rem;*/
}

.error::placeholder {
    border-bottom: 1px solid red;
    padding-bottom: 2px;
}

.errorMessage {
    position: absolute;
    top: 2rem;
    left: 1rem;
    z-index: 99;
}
