.newPost {
    position: relative;
    background-color: white;
    max-width: 640px;
    width: 100%;
    border-radius: var(--borderRadius);
    padding: 1rem;
    margin: 1rem;
    max-height: 390px;
    height: 100%;
    box-shadow: 0 0 2px 1px white;
}
